.menu-sm {
    height: calc(289px * var(--pixel-size));
    width: calc(137px * var(--pixel-size));   
    background-image: url("../../../../../assets/images/menu_sm.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: calc(7px * var(--pixel-size));
}

.menu-sm-container {
    height: calc(275px * var(--pixel-size));
    width: calc(123px * var(--pixel-size));
    transform: translateX(1px);
    background-color: var(--box-background);
}

.menu-item-sm {
    height: calc(48px * var(--pixel-size));
    width: calc(54px * var(--pixel-size));
    background-image: url("../../../../../assets/images/menu_item_sm.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: calc(5px * var(--pixel-size));
}

.menu-item-sm-container {
    height: calc(37px * var(--pixel-size));
    width: calc(43px * var(--pixel-size));
    transform: translateX(1px);
    background-color: var(--box-background);
}

img {
    height: calc(36px * var(--pixel-size));
    width: calc(42px * var(--pixel-size));
}