<article class="p-3" style="height: 100%;">
    <h3 class="text-shadow">También puedes escribirme!</h3>
    <hr>
    <div class="info-container mb-3 p-3 border">
        <form [formGroup]="contactForm" (ngSubmit)="submit()">

            <label class="form-label my-1 border" for="name">Nombre</label>
            <input class="form-control mb-2" type="text" id="name" formControlName="name">

            <label class="form-label my-1 border" for="issue">Asunto</label>
            <input class="form-control mb-2" type="text" id="issue" formControlName="issue">

            <label class="form-label my-1 border" for="email">Email</label>
            <input class="form-control mb-2" type="email" id="email" formControlName="email">

            <label class="form-label my-1 border" for="message">Mensaje</label>
            <textarea class="form-control mb-2" id="message" formControlName="message" rows="3"></textarea>

            <button class="mt-4 mb-4" type="submit" [disabled]="!contactForm.valid">Enviar</button>

            <div>
                <span *ngIf="loading">Enviando...</span>
            </div>

            <div [ngClass]="!submitted? 'hidden' : 'visible'">
                <span>{{responseMessage}}</span>
            </div>
        </form>
    </div>
</article>