<div class="container-fluid p-2" style="border: 2px solid white;">
<h3>CV</h3>
<br>
<div>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, natus cupiditate rerum minima cum iusto. Quos eligendi assumenda laboriosam, odit, perspiciatis quam nihil, praesentium dolores natus repellat suscipit quis veniam?
        Amet porro id aperiam iusto vitae. Beatae consectetur ipsa, enim rem, nostrum, quod mollitia sequi iste dignissimos voluptate hic facere. Odio vel adipisci ipsam sequi alias libero. Culpa, nam illum!
        Hic, possimus eos. Minima exercitationem nam sint officiis at inventore fuga hic possimus iusto facere corrupti adipisci atque voluptatibus sit nesciunt veritatis, eius molestiae illo, velit fugiat molestias! Nesciunt, labore.
    </p>
</div>
</div>