<article class="p-3" style="height: 100%;">
    <div class="preload-images"></div>
    <h3 class="text-shadow">
        Mi CV
    </h3>
    <hr>
    <div class="info-container d-flex mb-3 p-3">
        <div class="cv-container align-content-center p-2 my-auto">
            <img src="../assets/cv/esteban_olea_cv.png" alt="Esteban Olea - CV">
        </div>
        <div class="controls-container d-flex flex-column justify-content-evenly align-items-center">
            <a
            #openButton
            class="button-container ms-4"
            href="../assets/cv/esteban_olea_cv.pdf"
            (mouseenter)="onMouseEnter(openButton)"
            (mouseleave)="onMouseLeave(openButton)"
            (click)="openFile($event, openButton)">ABRIR</a>

            <a
            class="button-container ms-4"
            #downloadButton
            href="../assets/cv/esteban_olea_cv.pdf"
            download="esteban_olea-cv.pdf"
            (mouseenter)="onMouseEnter(downloadButton)"
            (mouseleave)="onMouseLeave(downloadButton)"
            (click)="downloadFile($event, downloadButton)">DESCARGAR</a>
        </div>
    </div>
</article>