<article class="p-3" style="height: 100%;">
    <h3 class="text-shadow">
        Descarga mi CV
    </h3>
    <br>
    <div class="info-container d-flex mb-3 p-3 border">
        <div class="cv-container p-2 border" (scroll)="onScroll($event)">
            <img src="../assets/cv/esteban_daniel_olea-cv.png" alt="">
        </div>
        <div class="controls-container d-flex flex-column justify-content-start p-2 border">
            <div class="button-container d-flex justify-content-center align-items-center border">
                <button>ABRIR</button>
            </div>
            <div class="button-container d-flex justify-content-center align-items-center border">
                <button>DESCARGAR</button>
            </div>
        </div>
    </div>
</article>