@media (min-width: 800px) and (max-width: 1023px) {
    .info-container {
        transform: translateY(-2%);
        height: calc(215px * var(--pixel-size));
    }
}

@media (min-width: 1024px) {
    .info-container {
        height: calc(230px * var(--pixel-size));
    }
}

hr {
    height: calc(2px*var(--pixel-size));
    background-color: var(--color-turquoise);
    border: none;
    opacity: 1;
}

.info-container {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.slider-container {
    width: 100%;
    height: 100%;
}

.arrow-container {
    width: 6%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.arrow-up {
    width: calc(12px * var(--pixel-size));
    height: calc(29px * var(--pixel-size));
    background-image: url('../../../../assets/images/stack_arrow_up.webp');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    animation: blink 2500ms infinite;
    transition: 500ms 100ms ease-in-out;
    visibility: hidden;
}

.arrow-down {
    width: calc(12px * var(--pixel-size));
    height: calc(29px * var(--pixel-size));
    background-image: url('../../../../assets/images/stack_arrow_down.webp');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    animation: blink 2500ms infinite;
    transition: 500ms 100ms ease-in-out;
    visibility: hidden;
}

.display {
    visibility: visible;
}

@keyframes blink {
    from {
        opacity: 0.3;
    }
    50% {
        opacity: 0;
    }
    to {
        opacity: 0.3;
    }
}

.cards-wrapper {
    transition: transform 0.5s ease-in-out;
    height: 100%;
}

.slider-card {
    width: 100%;
    height: 100%;
}

.item {
    width: calc(72px * var(--pixel-size));
    height: auto;
    transition: 0.2s;
}

.item:hover {
    transition: 0.2s;
    scale: 1.1;
}

.item:hover span {
    color: var(--color-turquoise);
    transition: 0.2s;
}

.icon {
    height: calc(58px * var(--pixel-size));
    width: calc(58px * var(--pixel-size));
}

span {
    font-size: calc(8px * var(--pixel-size));
    transition: 0.2s;
    text-decoration: line;
}