@media (min-width: 800px) and (max-width: 1023px) {
    h3 {
        font-size: calc(7px * var(--pixel-size));
        margin-top: calc(4px * var(--pixel-size));
    }

    .experience-text {font-size: calc(6px * var(--pixel-size));}
}

@media (min-width: 1024px) {
    h3 {
        font-size: calc(7px * var(--pixel-size));
        margin-top: calc(4px * var(--pixel-size));
    }

    .experience-text {font-size: calc(6px * var(--pixel-size));}
}

h3 {
    font-family: "amiga4ever_pro";
}

.menu-lg {
    height: calc(289px * var(--pixel-size));
    width: calc(262px * var(--pixel-size));
    background-image: url("../../../../../assets/images/menu_lg.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
    padding-top: calc(7px * var(--pixel-size));
}

.menu-container-lg {
    height: calc(276px * var(--pixel-size));
    width: calc(249px * var(--pixel-size)); 
    transform: translate(1px);
    background-color: var(--box-background);
}

.menu-row {
    width: calc(249px * var(--pixel-size));
}

.menu-item-lg {
    height: calc(85px * var(--pixel-size));
    width: calc(75px * var(--pixel-size));
    background-image: url("../../../../../assets/images/menu_item_lg.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: calc(5px * var(--pixel-size));
    position: relative;
}

.menu-icon-lg {
    height: calc(50px * var(--pixel-size));
    width: calc(57px * var(--pixel-size));
    margin-top: calc(4px * var(--pixel-size));
    margin-bottom: calc(7px * var(--pixel-size));
    transition: 0.1s;
}

.menu-item-lg:hover .menu-icon-lg {
    height: calc(57px * var(--pixel-size));
    width: calc(64px * var(--pixel-size));
    margin-top: 0;
    margin-bottom: calc(4px * var(--pixel-size));
}

.item-text-container {
    height: calc(12px * var(--pixel-size));
    width: calc(64px * var(--pixel-size));
}

.menu-item-lg:hover h3 {
    color: var(--color-turquoise);
    transition: 0.1s;
}