<div class="menu-lg mx-auto pixelated">
    <!--Contenedor de las rows-->
    <div class="menu-container-lg d-flex flex-column justify-content-center align-items-center mx-auto">
        <!--Row 1-->
        <div class="menu-row d-flex justify-content-evenly">

            <!--Ítem 1-->            
            <div
            class="menu-item-lg text-center pixelated"
            (click)="navigateToNewRoute('section/description')"
            sfx-control>
                <img src="./assets/images/perfil_lg.webp" alt="perfil" class="menu-icon-lg pixelated">  
                <div class="icon-filter"></div>

                <div class="item-text-container mx-auto">
                    <h3>Sobre mí</h3>
                </div>
            </div>

            <!--Ítem 2-->
            <div
            class="menu-item-lg text-center pixelated"
            (click)="navigateToNewRoute('section/education')"
            sfx-control>
                <img src="./assets/images/educacion_lg.webp" alt="Educación" class="menu-icon-lg pixelated">
                <div class="icon-filter"></div>

                <h3>Educación</h3>
            </div>

            <!--Ítem 3-->
            <div
            class="menu-item-lg text-center pixelated"
            (click)="navigateToNewRoute('section/stack')"
            sfx-control>
                <img src="./assets/images/stack_lg.webp" alt="Stack" class="menu-icon-lg pixelated"> 
                <div class="icon-filter"></div>   

                <div class="item-text-container mx-auto">
                    <h3>Stack</h3>
                </div>
            </div>
        </div>

        <!--Row 2-->
        <div class="menu-row my-2 d-flex justify-content-evenly">
            <!--Ítem 4-->
            <div
            class="menu-item-lg text-center pixelated"
            (click)="navigateToNewRoute('section/projects')"
            sfx-control>
                <img src="./assets/images/proyectos_lg.webp" alt="Proyectos" class="menu-icon-lg pixelated">
                <div class="icon-filter"></div>

                <div class="item-text-container mx-auto">
                    <h3>Proyectos</h3>
                </div>
            </div> 

            <!--Ítem 5-->
            <div
            class="menu-item-lg text-center pixelated"
            (click)="navigateToNewRoute('section/experience')"
            sfx-control>
                <img src="./assets/images/experiencia_lg.webp" alt="Experiencia" class="menu-icon-lg pixelated">
                <div class="icon-filter"></div>

                <div class="item-text-container mx-auto">
                    <h3 class="experience-text">Experiencia</h3>
                </div>                  
            </div> 

            <!--Ítem 6-->
            <div
            class="menu-item-lg text-center pixelated"
            (click)="navigateToNewRoute('section/cv')"
            sfx-control>
                <img src="./assets/images/cv_lg.webp" alt="CV" class="menu-icon-lg pixelated">
                <div class="icon-filter"></div>  

                <div class="item-text-container mx-auto">
                    <h3>CV</h3>
                </div>
            </div> 
        </div>
        <!--Row 3-->
        <div class="menu-row d-flex justify-content-evenly">
            <!--Ítem 7-->
            <div
            class="menu-item-lg text-center pixelated"
            (click)="navigateToNewRoute('section/social')"
            sfx-control>
                <img src="./assets/images/redes_lg.webp" alt="Redes" class="menu-icon-lg pixelated">
                <div class="icon-filter"></div>

                <div class="item-text-container mx-auto">
                    <h3>Redes</h3>
                </div>
            </div> 

            <!--Ítem 8-->
            <div
            class="menu-item-lg text-center pixelated"
            (click)="navigateToNewRoute('section/contact')"
            sfx-control>
                <img src="./assets/images/contacto_lg.webp" alt="Contacto" class="menu-icon-lg pixelated">
                <div class="icon-filter"></div>

                <div class="item-text-container mx-auto">
                    <h3>Contacto</h3>
                </div>
            </div> 

            <!--Ítem 9-->
            <div
            class="menu-item-lg text-center pixelated"
            (click)="navigateToNewRoute('')"
            sfx-control>
                <img src="./assets/images/volver.webp" alt="Gracias" class="menu-icon-lg pixelated">  
                <div class="icon-filter"></div> 
                                
                <div class="item-text-container mx-auto">
                    <h3>Volver</h3>
                </div>
            </div> 
        </div>
    </div>
</div>