<section class="p-3" style="height: 100%;">
    <h3 class="text-shadow">
        Educación
    </h3>
    <hr>
    <div class="info-container">
        <input type="radio" name="slider" id="slideOne" [checked]="counter == 0" disabled>
        <input type="radio" name="slider" id="slideTwo" [checked]="counter == 1" disabled>
        <input type="radio" name="slider" id="slideThree" [checked]="counter == 2" disabled>
        <input type="radio" name="slider" id="slideFour" [checked]="counter == 3" disabled>

        <div class="checkers">
            <label for="slideOne"></label>
            <label for="slideTwo"></label>
            <label for="slideThree"></label>
            <label for="slideFour"></label>
        </div>

        <div class="content">
            <div class="slide-1">
                <div class="item d-flex justify-content-center align-items-center mb-2">
                    <img class="p-md-3 p-lg-3 p-xl-2" src="../assets/images/unt_logo_pixelart_2.webp" alt="Universidad Nacional de Tucumán"> 
                </div>
                <span class="text-center text-shadow">
                    Universidad Nacional
                    <br>
                    de Tucumán
                </span>
            </div>

            <div class="slide-2">
                <div class="item d-flex justify-content-center align-items-center mb-2">
                    <img class="p-md-3 p-lg-3 p-xl-2" src="../assets/images/utn_logo_pixelart.webp"
                        alt="Universidad Tecnológica Nacional - Facultad Regional de Buenos Aires">
                </div>
                <span class="text-center text-shadow">
                    Universidad Tecnológica	
                    <br>
                    Nacional
                </span>
            </div>

            <div class="slide-3">
                <div class="item d-flex justify-content-center align-items-center mb-2">
                    <img class="p-md-3 p-lg-3 p-xl-2" src="../assets/images/one_logo_pixelart.webp"
                        alt="Programa Oracle Next Education">
                </div>
                <span class="text-center text-shadow">
                    ORACLE
                    <br>
                    Next Education
                </span>
            </div>

            <div class="slide-4">
                <div class="item d-flex justify-content-center align-items-center mb-2">
                    <img class="p-md-3 p-lg-3 p-xl-2" src="../assets/images/argentina_programa_logo_pixelart.webp" alt="Argentina Programa 4.0">
                </div>
                <span class="text-center text-shadow">
                    Argentina Programa 
                    <br>
                    4.0
                </span>
            </div>
        </div>

        <div class="button-container d-flex justify-content-between">
            <button class="left-button ms-2" (click)="previous()"></button>
            <button class="right-button me-2" (click)="next()"></button>
        </div>
    </div>
</section>