<!--Contenedor de ítems grupal-->
<nav class="menu-sm">
  <div class="menu-sm-container d-flex justify-content-evenly mx-auto">
    <!--Columna 1-->
    <div class="d-flex flex-column align-items-center justify-content-evenly">
      <!--Item 1-->
      <div class="menu-item-sm">
        <div
          class="menu-item-sm-container mx-auto"
          (click)="navigateToNewRoute('section/description')"
          sfx-control
        >
          <img
            src="./assets/images/perfil_sm.webp"
            alt="Perfil"
            class="mx-auto"
          />
        </div>
      </div>

      <!--Item 3-->
      <div class="menu-item-sm">
        <div
          class="menu-item-sm-container mx-auto"
          (click)="navigateToNewRoute('section/stack')"
          sfx-control
        >
          <img
            src="./assets/images/stack_sm.webp"
            alt="Stack"
            class="mx-auto"
          />
        </div>
      </div>

      <!--Item 5-->
      <div class="menu-item-sm">
        <div
          class="menu-item-sm-container mx-auto"
          (click)="navigateToNewRoute('section/experience')"
          sfx-control
        >
          <img
            src="./assets/images/experiencia_sm.webp"
            alt="Experiencia"
            class="mx-auto"
          />
        </div>
      </div>

      <!--Item 7-->
      <div class="menu-item-sm">
        <div
          class="menu-item-sm-container mx-auto"
          (click)="navigateToNewRoute('section/social')"
          sfx-control
        >
          <img
            src="./assets/images/redes_sm.webp"
            alt="Redes"
            class="mx-auto"
          />
        </div>
      </div>

      <!--Item 9-->
      <div class="menu-item-sm">
        <div
          class="menu-item-sm-container mx-auto"
          (click)="navigateToNewRoute('section/thanks')"
          sfx-control
        >
          <img
            src="./assets/images/gracias_sm.webp"
            alt="Gracias"
            class="mx-auto"
          />
        </div>
      </div>
    </div>

    <!--Columna 2-->
    <div class="d-flex flex-column align-items-center justify-content-evenly">
      <!--Item 2-->
      <div class="menu-item-sm">
        <div
          class="menu-item-sm-container mx-auto"
          (click)="navigateToNewRoute('section/education')"
          sfx-control
        >
          <img
            src="./assets/images/educacion_sm.webp"
            alt="Educación"
            class="mx-auto"
          />
        </div>
      </div>

      <!--Item 4-->
      <div class="menu-item-sm">
        <div
          class="menu-item-sm-container mx-auto"
          (click)="navigateToNewRoute('section/projects')"
          sfx-control
        >
          <img
            src="./assets/images/proyectos_sm.webp"
            alt="Proyectos"
            class="mx-auto"
          />
        </div>
      </div>

      <!--Item 6-->
      <div class="menu-item-sm">
        <div
          class="menu-item-sm-container mx-auto"
          (click)="navigateToNewRoute('section/cv')"
          sfx-control
        >
          <img src="./assets/images/cv_sm.webp" alt="CV" class="mx-auto" />
        </div>
      </div>

      <!--Item 8-->
      <div class="menu-item-sm">
        <div
          class="menu-item-sm-container mx-auto"
          (click)="navigateToNewRoute('section/contact')"
          sfx-control
        >
          <img
            src="./assets/images/contacto_sm.webp"
            alt="Contacto"
            class="mx-auto"
          />
        </div>
      </div>

      <!--Item 10-->
      <div class="menu-item-sm">
        <div
          class="menu-item-sm-container mx-auto"
          (click)="navigateToNewRoute('home')"
          sfx-control
        >
          <img src="./assets/images/volver.webp" alt="Volver" class="mx-auto" />
        </div>
      </div>
    </div>
  </div>
</nav>
