<article class="p-3" style="height: 100%;">
    <h3 class="text-shadow">
        Sobre mí
    </h3>
    <hr>
    <div class="info-container p-md-1 p-lg-3">
        <div class="description-header d-flex p-2">
            <div class="profile-container mb-3">
                <img src="../../../../assets/images/esteban_pixelart.webp" alt="">
            </div>
            <div class="text-bubble ms-4 p-md-3 p-lg-4">
                <h4>Hola! <br> Soy Esteban :&#41;</h4>
            </div>
        </div>
        <div class="description-text m-2">
            <br>
            <p>
                Me especializo en desarrollo Full-Stack, lo que significa que soy una parte activa en cada etapa del ciclo de vida del desarrollo, tanto en el Frontend como en el Backend. Esto me otorga un dominio ágil de todo el proceso de creación de Apps Cliente-Servidor, desde la concepción hasta el despliegue y mantenimiento del producto final.
            </p>
            <br>
            <p>
                Al programar, disfruto de resolver problemas complejos y encontrar soluciones creativas. Mi enfoque a la hora de diseñar soluciones de software es pensar fuera de la caja para crear productos elegantes que a su vez sean prácticos y altamente eficientes.
            </p>
            <br>
            <p>
                En mi día a día como programador, disfruto muchísimo del trabajo en equipo. Valoro la cultura comunitaria y de compañerismo, así como el apoyo mutuo entre personas apasionadas por la tecnología, ya que las mejores y más complejas piezas de ingeniería siempre son resultado de un gran equipo de trabajo que apunta hacia un mismo objetivo y une fuerzas para conseguirlo.
            </p>
            <br>
            <p>
                Mi expectativa en esta industria es avanzar y ver qué tan lejos me puede llevar la curiosidad y las ganas de aprender. Mi deseo es perfeccionar mis habilidades para convertirme en un gran programador y poder brindar soluciones innovadoras a los problemas que se presentan en nuestra sociedad ¡Cada vez más informatizada y tecnológica!
            </p>
            <br>
            <p>
                Te invito a seguir navegando por mi portfolio para conocer más sobre mí! :D
            </p>
        </div>
    </div>

</article>