.info-container {
    height: calc(230px * var(--pixel-size));
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--box-background) var(--box-background-hover);
}