<article class="p-3" style="height: 100%;">
    <h3 class="text-shadow">
        Sobre mí
    </h3>
    <hr>
    <div class="info-container p-3">
        <div class="description-header d-flex p-2">
            <div class="profile-container mb-3">
                <img src="../../../../assets/images/esteban_pixelart.png" alt="">
            </div>
            <div class="text-bubble ms-4 p-4">
                <h4>Hola! <br> Soy Esteban :&#41;</h4>
            </div>
        </div>
        <div class="description-text m-2">
            <p>
                Desde que tuve mi primera computadora, siempre he sentido curiosidad por entender cómo
                funcionaban las cosas que veía en pantalla. Un día, esa curiosidad me llevó a sumergirme en el
                apasionante mundo del desarrollo software :&#41;
            </p>
            <p>
                Como desarrollador Full-Stack, he adquirido una comprensión completa de cómo se crea una aplicación de
                cliente-servidor, desde la concepción misma de la idea hasta el despliegue y mantenimiento del producto
                final. Tuve la suerte de participar y aprender de cada etapa del ciclo de vida del desarrollo de Apps
                tanto desde el lado del Frontend hasta las profundidades del Backend.
            </p>
            <p>
                En mi trabajo, lo que más disfruto es resolver problemas y encontrar soluciones creativas, que a su vez
                sean altamente eficientes. Una de mis aficiones más nerds a la hora de programar es ver qué tan lejos
                puede llegar el rendimiento de un programa, y encontrarme con la sorpresa de que unas pocas líneas de
                código bien puestas pueden manejar miles y hasta ¡millones de datos por segundo!
            </p>
            <p>
                En mi día a día como programador, disfruto muchísimo del trabajo en equipo. Una de las cosas más
                divertidas que puede hacer un Dev es unir fuerzas con otros Devs para resolver problemas que serían
                irresolúbles por un sólo ser humano. Por eso, creo firmemente en el valor de hacer comunidad entre la
                gente apasionada por la tecnología. Para mí, tener la posibilidad de aprender de gente experimentada,
                para luego convertirse en esa persona experimentada que puede enseñar a los demás, es una de las
                motivaciones más lindas y humanas que pueden encontrarse en este oficio.
            </p>
            <p>
                Mi motor en el mundo del software es la curiosidad, a ella le debo el lugar en el que estoy parado en
                este punto de mi vida. La misma curiosidad que empezó ese día que me regalaron mi primera computadora,
                hoy me impulsa a seguir tratando de entender cómo funciona todo detrás del monitor. Aunque ahora no sólo
                miro cosas en la pantalla, ¡sino que también las creo!
            </p>
            <p>
                Hoy en día, tengo la expectativa de ver qué tan lejos me puede llevar la curiosidad en este vasto
                universo que es la informática. Mientras tanto,
            </p>
            <p>
                ¡A seguir programando! :D
            </p>
        </div>
    </div>

</article>