<article class="p-3" style="height: 100%;">
    <h3 class="text-shadow">
        Sobre mí
    </h3>
    <br>
    <div class="info-container mb-3">
        <p class="p-3">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis odio non neque! Cum eum    ipsam quis ut
        provident illo sapiente necessitatibus labore repudiandae mollitia ullam sint eligendi, ratione quo enim!
        Non deserunt incidunt perferendis soluta iusto inventore impedit quam consectetur doloremque alias ad nostrum
        labore deleniti a autem iste laborum, molestias quibusdam sunt quo distinctio vel earum numquam
        Quisquam, rem.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis odio non neque! Cum eum    ipsam quis ut
        provident illo sapiente necessitatibus labore repudiandae mollitia ullam sint eligendi, ratione quo enim!
        Non deserunt incidunt perferendis soluta iusto inventore impedit quam consectetur doloremque alias ad nostrum
        labore deleniti a autem iste laborum, molestias quibusdam sunt quo distinctio vel earum numquam
        Quisquam, rem.
    </p>
    </div>
    
</article>