@media (min-width: 800px) and (max-width: 1023px) {
    .info-container {
        transform: translateY(-2%);
        height: calc(215px * var(--pixel-size));
    }

    h4 {
        transform: translateY(-20%);
        font-size: calc(7.5px * var(--pixel-size));
    }

    p {
        letter-spacing: 1px;
    }
}

@media (min-width: 1024px) {
    .info-container {
        height: calc(230px * var(--pixel-size));
    }

    h4 {
        transform: translateY(-20%);
        font-size: calc(7.5px * var(--pixel-size));
    }

    p {
        letter-spacing: 3px;
    }
}

@media (min-width: 1279px) {
    h4 {
        transform: translateY(0%);
        font-size: calc(8px * var(--pixel-size));
    }
}

hr {
    height: calc(2px*var(--pixel-size));
    background-color: var(--color-turquoise);
    border: none;
    opacity: 1;
}

.info-container {
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--color-turquoise) var(--box-background-hover);
}

.profile-container {
    height: calc(90px * var(--pixel-size));
    width: calc(90px * var(--pixel-size));
    border: calc(2px * var(--pixel-size)) solid var(--color-turquoise);
}

img {
    height: 100%;
    width: 100%;
    background-color: var(--box-background-hover);
}

.text-bubble {
    width: calc(140px * var(--pixel-size));
    height: calc(55px * var(--pixel-size));
    background-image: url('../../../../assets/images/text_bubble.webp');
    background-position: center;
    background-size: contain;
}

h4 {
    font-family: 'amiga4ever_pro';
    line-height: 1.7;
    text-shadow: 2px 2px var(--text-shadow-darker);
}

.description-text {
    font-family: 'minecraft';
    font-size: calc(9px * var(--pixel-size));
}