<article class="p-3" style="height: 100%">
  <h3 class="text-shadow">Sobre mí</h3>
  <hr />
  <div class="info-container p-md-1 p-lg-3">
    <div class="description-header d-flex p-2">
      <div class="profile-container mb-3">
        <img src="../../../../assets/images/esteban_pixelart.webp" alt="" />
      </div>
      <div class="text-bubble ms-4 p-md-3 p-lg-4">
        <h4>
          Hola! <br />
          Soy Esteban :&#41;
        </h4>
      </div>
    </div>
    <div class="description-text m-2">
      <p>
        Me especializo en Desarrollo Web, más específicamente en el desarrollo
        de aplicaciones interactivas y de alto rendimiento.
      </p>
      <br />
      <p>
        Poseo experiencia en gestión integral de proyectos, análisis de
        requerimientos, diseño, programación frontend, programación backend,
        implementación en servidores basados en la nube y mantenimiento.
      </p>
      <br />
      <p>
        También soy un apasionado de la informática, con motivación constante en
        el aprendizaje y el crecimiento. Date una vuelta por mi portfolio y conoce más sobre mi perfil n_n
      </p>
    </div>
  </div>
</article>
