p {
    font-family: "amiga4ever_pro";
    font-size: calc(6px * var(--pixel-size));
}

img {
    height: calc(174px * var(--pixel-size));
    width: calc(157px * var(--pixel-size));
    margin-bottom: calc(6px * var(--pixel-size));
    transform: translateX(1px);
}

.gatito-texto-caja {
    height: calc(289px * var(--pixel-size));
    width: calc(137px * var(--pixel-size));   
    background-image: url("../../../../assets/images/puflito_caja_sm.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding-top: calc(7px * var(--pixel-size));
    padding-bottom: calc(5px * var(--pixel-size));
}

.texto-container {
    height: calc(95px * var(--pixel-size));
    width: calc(123px * var(--pixel-size));
    transform: translateX(1px);
    background-color: var(--box-background);
}

.gatito-container {
    overflow: hidden;
    height: calc(175px * var(--pixel-size));
    width: calc(123px * var(--pixel-size));
    transform: translateX(2px);
    background-color: var(--box-background);
}