p {
    font-family: "amiga4ever_pro";
    font-size: calc(8px * var(--pixel-size));
}
.gato-texto-caja{
    height: calc(289px * var(--pixel-size));
    width: calc(170px * var(--pixel-size));
    background-image: url("../../../../assets/images/puflito_caja.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.texto-container{
    height: calc(96px * var(--pixel-size));
    width: calc(158px * var(--pixel-size));
    margin-top: calc(6px * var(--pixel-size));
    transform: translateX(1px);
    background-color: var(--box-background);
}
.gato-container {
    height: calc(174px * var(--pixel-size));
    width: calc(158px * var(--pixel-size));
    transform: translateX(1px);
    margin-bottom: calc(6px * var(--pixel-size));
}
img{
    height: calc(174px * var(--pixel-size));
    width: calc(157px * var(--pixel-size));
    margin-bottom: calc(6px * var(--pixel-size));
    transform: translateX(1px);
}

