hr {
    height: calc(2px*var(--pixel-size));
    background-color: var(--color-turquoise);
    border: none;
    opacity: 1;
}

.info-container {
    height: calc(230px * var(--pixel-size));
    overflow: hidden;
}