@media (min-width: 800px) and (max-width: 1023px) {
    .info-container {
        transform: translateY(-2%);
        height: calc(215px * var(--pixel-size));
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .info-container {
        height: calc(220px * var(--pixel-size));
    }
}

@media (min-width: 1280px) {
    .info-container {
        height: calc(230px * var(--pixel-size));
    }
}

hr {
    height: calc(2px*var(--pixel-size));
    background-color: var(--color-turquoise);
    border: none;
    opacity: 1;
}

.info-container {
    overflow: hidden;
}

img {
    max-width: 100%;
    max-height: 100%;
    border: calc(3px * var(--pixel-size)) solid var(--color-turquoise);
}