<!--Contenedor general-->
<main class="d-flex flex-column" style="height: 100vh;">
    <!--Indicador de créditos-->
    <span @fadeIn class="position-absolute top-0 start-0 p-5">Credits: 10</span>
    <!--Contenedor de los elementos-->
    <div class="d-flex flex-column my-auto">

        <img @titleEnter class="esteban_olea mx-auto pixelated" src="../assets/images/esteban_olea.png" alt="Esteban Olea">
        <img @subtitleEnter class="ds_fullstack mx-auto mt-5 mb-5 pixelated" src="../assets/images/desarrollador_full-stack.png" alt="Desarrollador Full-Stack">

        <a @enterRight class="mx-auto mt-5 mb-2 text-decoration-none" routerLink="home">INICIAR</a>
        <a @enterLeft class="mx-auto mt-2 text-decoration-none">OPCIONES</a>
        
    </div>
    <!--Copyright-->
    <span @fadeIn class="position-absolute bottom-0 end-0 p-5">Licenced by <br> PUFLITO Inc. &copy;</span>
</main>