<!--Contenedor general-->
<div class="d-flex align-items-center mx-auto" style="height: 100vh;">
    <!--Contenedor de los elementos-->
    <div class="d-flex flex-column mx-auto">
        <div class="mx-auto" style="height: 12rem; width: 12rem; border: 4px solid aqua;">
            <img src="./assets/images/Toy-pixelado.jpg" class="img-fluid" alt="profile picture">
        </div>
        <h1 class="mx-auto mt-3 mb-2 text-white">
            Esteban Olea
        </h1>
        <h2 class="align-self-center text-white">
            Desarrollador Full-Stack
        </h2>
        <div class="align-self-center mt-3">
            <button class="btn btn-info text-white" routerLink="home"
                style="width: 10rem; height: 3rem; font-size: 1.5rem; font-weight: bold;">
                INICIAR
            </button>
        </div>
    </div>
</div>