main {
    overflow: hidden;
}
.esteban_olea{    
    width: auto;
    height: calc(65px * var(--pixel-size));    
}
.ds_fullstack{
    width: auto;
    height: calc(20px * var(--pixel-size));
}
div, a, span {
    font-family: "amiga4ever_pro";
    color: var(--color-white);
    font-size: calc(8px * var(--pixel-size));    
}
a:hover {
    color: #e52566;
}
button {
    background-color: transparent;
}






