<main class="d-flex flex-column justify-content-between" style="height: 100vh;">
    <app-top-bar></app-top-bar>
    <nav class="row mx-auto">
        <div @enterMenu class="col">
            <app-menu-principal></app-menu-principal>
        </div>
        <div @enterGatito class="col">
            <app-gatito-texto></app-gatito-texto>
        </div>
    </nav>
    <footer @enterBottomBar class="d-flex justify-content-center mx-auto mb-3 bottom-bar pixelated">
        <div class="bar-container text-center m-auto p-1">
            <h5>Esteban_Olea - Desarrollador_Full_Stack</h5>
        </div>
    </footer>
</main>