<main class="d-flex flex-column justify-content-between" style="height: 100vh;">
    <app-top-bar></app-top-bar>
    <nav class="row mx-auto">
        <div @enterMenu class="col">
            <app-menu-principal></app-menu-principal>
        </div>
        <div @enterGatito class="col">
            <app-gatito-texto></app-gatito-texto>
        </div>
    </nav>
    <footer @enterBottomBar class="bottom-bar d-flex justify-content-center mx-auto mb-3  pixelated">
        <div class="bar-container m-auto">
            <h4 class="slider-1">Esteban_Olea - Desarrollador_Full_Stack</h4>
            <h4 class="slider-2">Esteban_Olea - Desarrollador_Full_Stack</h4>
        </div>
    </footer>
</main>