@media (min-width: 800px) and (max-width: 1023px) {
    .bottom-bar {
        min-height: calc(24px * var(--pixel-size));
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .bottom-bar {
        min-height: calc(24px * var(--pixel-size));
    }
}

@media (min-width: 1280px) and (max-width: 1599px) {
    .bottom-bar {
        min-height: calc(23px * var(--pixel-size));
    }
}

@media (min-width: 1600px) {
    .bottom-bar {
        min-height: calc(23px * var(--pixel-size));
    }
}

.main-container {
    height: 100vh;
}

h4 {
    font-family: 'amiga4ever_pro';
    font-size: calc(8px * var(--pixel-size));
    color: var(--color-turquoise);
    display: inline;
    position: absolute;
    white-space: nowrap;
    top: calc(2px * var(--pixel-size));
}

.bottom-bar {
    min-width: calc(436px * var(--pixel-size));
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url('../../../assets/images/bottom_bar.png');
}

.bar-content {
    height: calc(12px * var(--pixel-size));
    width: calc(426px * var(--pixel-size));
    transform: translateX(0px) translateY(1px);
    background-color: var(--box-background);
    overflow: hidden;
}

.slider-1 {
    animation: slider-1 linear infinite;
    animation-duration: 20s;
}

@keyframes slider-1 {
    0% {
        left: 102%;
    }
    100% {
        left: -75%;
    }
}

.slider-2 {
    animation: slider-2 linear infinite;
    animation-duration: 20s;
    animation-delay: 10s;
    opacity: 0;
    visibility: hidden;
    animation-fill-mode: forwards;
}

@keyframes slider-2 {
    0% {
        visibility: visible;
        opacity: 1;
        left: 102%;
    }
    100% {
        visibility: visible;
        opacity: 1;
        left: -75%;
    }
}