<main class="main-container d-flex flex-column justify-content-center">
    <app-top-bar class="mx-auto mt-2"></app-top-bar>
    <nav class="row mx-auto my-md-1 my-lg-2 my-xl-2 my-xxl-3">
        <div @enterMenu class="col">
            <app-menu-principal></app-menu-principal>
        </div>
        <div @enterGatito class="col">
            <app-gatito-texto></app-gatito-texto>
        </div>
    </nav>
    <footer @enterBottomBar
    class="bottom-bar d-flex flex-column justify-content-center mx-auto mb-2 pixelated">
        <div class="bar-content m-auto pb-lg-3 pb-xl-4">
            <h4 class="slider-1">Esteban_Olea - Desarrollador_Full_Stack</h4>
            <h4 class="slider-2">Esteban_Olea - Desarrollador_Full_Stack</h4>
        </div>
    </footer>
</main>