<article class="p-3" style="height: 100%;">
    <h3 class="text-shadow">
        Agrégame a redes!
    </h3>
    <br>
    <div class="info-container border">
        <div class="content d-flex-flex-column border">
            <div class="line-1 d-flex justify-content-center border">
                <div class="item border">
                    <a class="">
                        <div class="social-container border">
                            <img src="../assets/images/social_icons/linkedin-logo.png" alt="LinkedIn">
                            <span class="border">LinkedIn</span>
                        </div>
                    </a>
                </div>
            </div>

            <div class="line-2 d-flex justify-content-evenly border">
                <div class="item border ">
                    <a class="">
                        <div class="social-container border">
                            <img src="../assets/images/social_icons/github-logo.png" alt="GitHub">
                            <span class="border">GitHub</span>
                        </div>
                        
                    </a>
                </div>

                <div class="item border ">
                    <a class="">
                        <div class="social-container border">
                            <img src="../assets/images/social_icons/gmail-logo.png" alt="Gmail">
                            <span class="border">Gmail</span>
                        </div>
                        
                    </a>
                </div>
            </div>
        </div>
    </div>

</article>