<article class="p-3" style="height: 100%;">
    <h3 class="text-shadow">
        Agrégame a redes!
    </h3>
    <hr>
    <div class="info-container">
        <div class="content d-flex-flex-column pt-md-1 pt-lg-2 pt-xl-4">
            <div class="line-1 d-flex justify-content-evenly">
                <div class="item">
                    <a href="https://www.linkedin.com/in/esteban-olea-58b6151bb" target="_blank">
                        <div class="social-container">
                            <img src="../assets/images/social_icons/linkedin-logo.png" alt="LinkedIn">
                            <span>LinkedIn</span>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="https://github.com/estebanOlea2552" target="_blank">
                        <div class="social-container">
                            <img src="../assets/images/social_icons/github-logo.png" alt="GitHub">
                            <span>GitHub</span>
                        </div>

                    </a>
                </div>

            </div>

            <div class="line-2 d-flex justify-content-evenly">
                <div class="item">
                    <a [href]="'mailto:' + mailPart1 + mailPart2 ">
                        <div class="social-container">
                            <img src="../assets/images/social_icons/gmail-logo.png" alt="Gmail">
                            <span>Gmail</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</article>