.titles-container {
    height: 60%;
}

.esteban_olea {    
    height: calc(65px * var(--pixel-size));    
}

.ds_fullstack {
    height: calc(20px * var(--pixel-size));
}

div, a, span {
    font-family: "amiga4ever_pro";
    color: var(--color-white);
    font-size: calc(8px * var(--pixel-size));    
}

.buttons-container {
    height: 30%;
}

button {
    color: var(--color-white);
    background-color: transparent;
    border: none;
    scale: 1;
    cursor: none;
}

button:hover {
    color: #e52566;
    scale: 1.06;
}

button:hover::before {
    content: "<";
}

button:hover::after {
    content: ">";
}

.options-container {
    display: block;
}

.option {
    display: block;
}

.hide {
    display: none;
}






