<section @enterTopBar class="top-bar d-flex mx-auto mt-3 pixelated">
    <div class="bar-container d-flex align-items-center m-auto">
        <div class="buttons-container d-flex align-items-center">
            <button [ngClass]="{'music-active': musicIsActivated, 'music-inactive': !musicIsActivated}" class="music-button ms-2 me-2" (click)="turnOnOffMusic()"></button>
            <button [ngClass]="{'sfx-active': sfxIsActivated, 'sfx-inactive': !sfxIsActivated}" class="sfx-button ms-2" (click)="turnOnOffSfx()"></button>
        </div>
        <div *ngIf="musicIsActivated" class="song-name-container d-flex">
            <p class="mx-auto my-1">Está sonando: {{songName}}</p>
        </div>
    </div>
</section>
