<!--Contenedor general-->
<div class="container d-flex flex-column justify-content-center p-1 border" style="height: 100%;">
    <!--Row contenedora del texto-->
    <div class="row p-1 mb-5 mx-5 g-0 border">
        <div class="col p-1">
            <div class="p-3" style="height: 20vh; width: auto; border: 4px solid aqua">
                <p class="h6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam aut rem quis dicta illum veniam ratione, corporis nam repellat, excepturi quos ex quod necessitatibus reiciendis perspiciatis accusantium aperiam ea enim!</p>
            </div>            
        </div>
    </div>

    <div class="row p-1 g-0 border" >
        <div class="col d-flex justify-content-center p-1 ">
            <div class="p-1 border" >
                <img src="./assets/images/Gato.png" class="img-fluid" alt="Cat" style="height: 350px; width: auto;">
            </div>            
        </div>
    </div>
</div>
