<h3>Menu principal</h3>

<nav>
    <div>
        <button (click)="NavigateToANewRoute('section/descripcion')">Descripción</button>
    </div>
    <div>
        <button (click)="NavigateToANewRoute('section/stack')">Stack</button>
    </div>
    <div>
        <button (click)="NavigateToANewRoute('section/educacion')">Educación</button>
    </div>
    <div>
        <button (click)="NavigateToANewRoute('section/proyectos')">Proyectos</button>
    </div>
    <div>
        <button (click)="NavigateToANewRoute('section/experiencia')">Experiencia</button>
    </div>
    <div>
        <button (click)="NavigateToANewRoute('section/cv')">CV</button>
    </div>
    <div>
        <button (click)="NavigateToANewRoute('section/redes')">Redes</button>
    </div>
    <div>
        <button (click)="NavigateToANewRoute('section/contacto')">Contacto</button>
    </div>
    <div>
        <button (click)="NavigateToANewRoute('section/gracias')">Gracias</button>
    </div>
</nav>