<div class="container d-flex flex-column justify-content-center align-items-center px-4 menu-container-lg">
    <!--Contenedor de las rows-->
    <!--Row 1-->
    <div class="row d-flex justify-content-evenly g-0" style="width: 100%;">
        <!--Columna 1-->
        <a (click)="NavigateToANewRoute('section/descripcion')" class="col-4 d-flex justify-content-center">
            <div class="card menu-item-lg mx-2">
                <div class="p-1 m-auto" style="height: auto; width: 85%;">
                    <img src="./assets/images/perfil_lg.png" alt="perfil" class="img-fluid">
                </div>
                <span class="text-center m-auto p-1">Perfil</span>
            </div>
        </a>
        <!--Columna 2-->
        <a (click)="NavigateToANewRoute('section/stack')" class="col-4 d-flex justify-content-center">
            <div class="card menu-item-lg mx-2">
                <div class="p-1 m-auto" style="height: auto; width: 85%;">
                    <img src="./assets/images/stack_lg.png" alt="stack" class="img-fluid">
                </div>
                <span class="text-center m-auto p-1">Stack</span>
            </div>
        </a>
        <!--Columna 3-->
        <a (click)="NavigateToANewRoute('section/educacion')" class="col-4 d-flex justify-content-center">
            <div class="card menu-item-lg mx-2">
                <div class="p-1 m-auto" style="height: auto; width: 85%;">
                    <img src="./assets/images/educacion_lg.png" alt="educación" class="img-fluid">
                </div>
                <span class="text-center m-auto p-1">Educación</span>
            </div>
        </a>
    </div>
    <!--Row 2-->
    <div class="row d-flex justify-content-evenly my-2 g-0 " style="width: 100%;">
        <!--Columna 4-->
        <a (click)="NavigateToANewRoute('section/proyectos')" class="col-4 d-flex justify-content-center">
            <div class="card menu-item-lg mx-2">
                <div class="p-1 m-auto" style="height: auto; width: 85%;">
                    <img src="./assets/images/proyectos_lg.png" alt="proyectos" class="img-fluid">
                </div>
                <span class="text-center m-auto p-1">Proyectos</span>
            </div>
        </a>
        <!--Columna 5-->
        <a (click)="NavigateToANewRoute('section/experiencia')" class="col-4 d-flex justify-content-center">
            <div class="card menu-item-lg mx-2">
                <div class="p-1 m-auto" style="height: auto; width: 85%;">
                    <img src="./assets/images/experiencia_lg.png" alt="experiencia" class="img-fluid">
                </div>
                <span class="text-center m-auto p-1">Expe.</span>
            </div>
        </a>
        <!--Columna 6-->
        <a (click)="NavigateToANewRoute('section/cv')" class="col-4 d-flex justify-content-center">
            <div class="card menu-item-lg mx-2">
                <div class="p-1 m-auto" style="height: auto; width: 85%;">
                    <img src="./assets/images/cv_lg.png" alt="cv" class="img-fluid">
                </div>
                <span class="text-center m-auto p-1">CV</span>
            </div>
        </a>
    </div>
    <!--Row 3-->
    <div class="row d-flex justify-content-evenly g-0 " style="width: 100%;">
        <!--Columna 7-->
        <a (click)="NavigateToANewRoute('section/redes')" class="col-4 d-flex justify-content-center">
            <div class="card menu-item-lg mx-2">
                <div class="p-1 m-auto" style="height: auto; width: 85%;">
                    <img src="./assets/images/redes_lg.png" alt="redes" class="img-fluid">
                </div>
                <span class="text-center m-auto p-1">Redes</span>
            </div>
        </a>
        <!--Columna 8-->
        <a (click)="NavigateToANewRoute('section/contacto')" class="col-4 d-flex justify-content-center">
            <div class="card menu-item-lg mx-2">
                <div class="p-1 m-auto" style="height: auto; width: 85%;">
                    <img src="./assets/images/contacto_lg.png" alt="contacto" class="img-fluid">
                </div>
                <span class="text-center m-auto p-1">Contacto</span>
            </div>
        </a>
        <!--Columna 9-->
        <a (click)="NavigateToANewRoute('section/gracias')" class="col-4 d-flex justify-content-center">
            <div class="card menu-item-lg mx-2">
                <div class="p-1 m-auto" style="height: auto; width: 85%;">
                    <img src="./assets/images/gracias_lg.png" alt="gracias" class="img-fluid">
                </div>
                <span class="text-center m-auto p-1">Gracias</span>
            </div>
        </a>
    </div>
</div>