<!--Contenedor general-->
<div class="container d-flex flex-column justify-content-between p-1 gato-texto-caja">
    <!--Row contenedora del texto-->
    <div class="row p-1 g-0 " style="height: 35%;">
        <div class="col p-1">
            <div class="p-3" style="height: 100%; width: auto;">
                <p class="h6">Texto aquí</p>
            </div>            
        </div>
    </div>
    <!--Row contenedora del gatito-->
    <div class="row p-1 g-0 " style="height: 65%;">
        <div class="col d-flex justify-content-center p-1">            
                                 
        </div>
    </div>
</div>
