p {
    font-family: "amiga4ever_pro";
    font-size: calc(7px * var(--pixel-size));
}
.gatito-texto-caja{
    height: calc(255px * var(--pixel-size));
    width: calc(165px * var(--pixel-size));
    background-image: url("../../../../assets/images/puflito_caja_sm.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    /*padding-top: calc(7px * var(--pixel-size));
    padding-bottom: calc(5px * var(--pixel-size));*/
    border: 2px solid aqua;
}
.texto-container{
    height: calc(95px * var(--pixel-size));
    width: calc(123px * var(--pixel-size));
    transform: translateX(1px);
    background-color: var(--box-background);
}
.gatito-container{
    height: calc(175px * var(--pixel-size));
    width: calc(123px * var(--pixel-size));
    transform: translateX(1px);
    background-color: var(--box-background);
}