<article class="p-3" style="height: 100%;">
    <h3 class="text-shadow">
        Experiencia
    </h3>
    <br>
    <div class="info-container mb-3">
        <div class="content border">
            <div class="item border">
                <div class="date border">
                    <span>2018</span>
                </div>
                <div class="experience border">
                    <span>Blablabla</span>
                </div>
            </div>

            <div class="item border">
                <div class="experience border">
                    <span>Blablabla</span>
                </div>
                <div class="date border">
                    <span>2019</span>
                </div>
            </div>

            <div class="item border">
                <div class="date border">
                    <span>2020</span>
                </div>
                <div class="experience border">
                    <span>Blablabla</span>
                </div>
            </div>

            <div class="item border">
                <div class="experience border">
                    <span>Blablabla</span>
                </div>
                <div class="date border">
                    <span>2021</span>
                </div>
            </div>

            <div class="item border">
                <div class="date border">
                    <span>2022</span>
                </div>
                <div class="experience border">
                    <span>Blablabla</span>
                </div>
            </div>

            <div class="item border">
                <div class="experience border">
                    <span>Blablabla</span>
                </div>
                <div class="date border">
                    <span>2023</span>
                </div>
            </div>

            <div class="item border">
                <div class="date border">
                    <span>2024</span>
                </div>
                <div class="experience border">
                    <span>Blablabla</span>
                </div>
            </div>
        </div>
    </div>
</article>