<article class="p-3" style="height: 100%;">
    <h3 class="text-shadow">
        Experiencia
    </h3>
    <hr>
    <div class="info-container p-3 mb-3">
        <div class="content pt-md-0 pt-lg-1 pt-xl-2">

            <div class="item">
                <div class="date date-left">
                    <span class="date-text">Octubre <br> de</span>
                    <span class="date-text date-numbers">2018</span>
                </div>
                <div class="experience">
                    <span class="experience-text text-right">Editor de Video y Audio Profesional</span>
                    <span class="experience-subtext text-right">Independiente</span>
                </div>
            </div>

            <div class="item">
                <div class="experience">
                    <span class="experience-text text-left">Fotógrafo de Especáculos</span>
                    <span class="experience-subtext text-left">Independiente</span>
                </div>
                <div class="date date-right">
                    <span class="date-text">Febrero <br> de</span>
                    <span class="date-text date-numbers">2019</span>
                </div>
            </div>

            <div class="item">
                <div class="date date-left">
                    <span class="date-text">Marzo <br> de</span>
                    <span class="date-text date-numbers">2022</span>
                </div>
                <div class="experience">
                    <span class="experience-text text-right pt-md-1 pt-lg-0">Productor de Contenidos Multimedia</span>
                    <span class="experience-subtext text-right">Biblioteca Popular Ayelén</span>
                </div>
            </div>

            <div class="item">
                <div class="experience">
                    <span class="experience-text text-left">Diseñador multimedia</span>
                    <span class="experience-subtext text-left">Hand 1990 Marca de ropa</span>
                </div>
                <div class="date date-right">
                    <span class="date-text">Mayo <br> de</span>
                    <span class="date-text date-numbers">2022</span>
                </div>
            </div>

            <div class="item">
                <div class="date date-left">
                    <span class="date-text">Junio <br> de</span>
                    <span class="date-text date-numbers">2022</span>
                </div>
                <div class="experience">
                    <span class="experience-text text-right">Ingeniero de Audio y Monitoreo</span>
                    <span class="experience-subtext text-right">Orquesta 88 Blancas y Negras</span>
                </div>
            </div>

            <div class="item">
                <div class="experience">
                    <span class="experience-text text-left">Desarrollador Web Freelance</span>
                    <span class="experience-subtext text-left">Independiente</span>
                </div>
                <div class="date date-right">
                    <span class="date-text">Abril <br> de</span>
                    <span class="date-text date-numbers">2023</span>
                </div>
            </div>

            <div class="item">
                <div class="date">
                    
                </div>
                <div class="experience">
                    <span class="experience-text text-right">Continuará...</span>
                </div>
            </div>
            
        </div>
    </div>
</article>