.border {
    border: 2px solid white;
}
.top-bar{
    height: 50px;
    background-image: url('../../../assets/images/top_bar.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.section {
    height: 100%;
    width: auto;
    background-image: url('../../../assets/images/section.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.bottom-bar{
    height: 50px;
    background-image: url('../../../assets/images/bottom_bar.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}