.top-bar{
    height: calc(26px * var(--pixel-size));
    width: calc(504px * var(--pixel-size));
    background-image: url('../../../assets/images/top_bar.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.bottom-bar{
    height: calc(26px * var(--pixel-size));
    width: calc(504px * var(--pixel-size));
    background-image: url('../../../assets/images/bottom_bar.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.bar-container{
    height: calc(14px * var(--pixel-size));
    width: calc(492px * var(--pixel-size));
    transform: translateX(1px) translateY(1px);
    background-color: var(--box-background);
}
.section {
    height: calc(289px * var(--pixel-size));
    width: calc(322px * var(--pixel-size));
    background-image: url('../../../assets/images/section.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding-top: calc(7px * var(--pixel-size));
}
.section-container{
    height: calc(276px * var(--pixel-size));
    width: calc(309px * var(--pixel-size));
    transform: translateX(1px);
    background-color: var(--box-background);
}
a, h5 {
    font-family: 'amiga4ever_pro';
    font-size: calc(8px * var(--pixel-size));
    color: var(--color-white);
}