.top-bar, .bottom-bar {
    height: calc(23px * var(--pixel-size));
    width: calc(436px * var(--pixel-size));
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.top-bar {
    background-image: url('../../../assets/images/top_bar.png');
}

.bottom-bar {
    background-image: url('../../../assets/images/bottom_bar.png');
}

.bar-container {
    height: calc(12px * var(--pixel-size));
    width: calc(424px * var(--pixel-size));
    transform: translateX(1px) translateY(1px);
    background-color: var(--box-background);
}

.section {
    height: calc(289px * var(--pixel-size));
    width: calc(322px * var(--pixel-size));
    background-image: url('../../../assets/images/section.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding-top: calc(7px * var(--pixel-size));
}

.section-container {
    height: calc(276px * var(--pixel-size));
    width: calc(309px * var(--pixel-size));
    transform: translateX(1px);
    background-color: var(--box-background);
}

a, h5 {
    font-family: 'amiga4ever_pro';
    font-size: calc(8px * var(--pixel-size));
    color: var(--color-white);
}