@media (min-width: 800px) and (max-width: 1023px) {
    .info-container {
        transform: translateY(-2%);
        height: calc(215px * var(--pixel-size));
    }

    p {
        letter-spacing: 1px;
    }

    .overlay {
        top: 6px;
        left: 6px;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .info-container {
        height: calc(220px * var(--pixel-size));
    }

    p {
        letter-spacing: 1px;
    }

    .overlay {
        top: 8px;
        left: 8px;
    }
}

@media (min-width: 1280px) {
    .info-container {
        height: calc(230px * var(--pixel-size));
    }
}

hr {
    height: calc(2px*var(--pixel-size));
    background-color: var(--color-turquoise);
    border: none;
    opacity: 1;
}

.info-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

input {
    visibility: hidden;
    display: none;
    cursor: none;
}

.checkers {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    right: 0px;
    bottom: 20px;
    gap: 10px;
    cursor: none;
}

.checkers label {
    display: none;
    visibility: hidden;
    cursor: none;
}

.info-container input:nth-child(1):checked ~ .content {
    left: 0;
}

.info-container input:nth-child(2):checked ~ .content {
    left: -100%;
}

.content {
    position: relative;
    width: 200%;
    height: calc(230px * var(--pixel-size));
    display: flex;
    transition: 0.6s ease-in-out;
}

.slide-1, .slide-2 {
    width: 100%;
    height: calc(230px * var(--pixel-size));
    display: flex;
    flex-direction: column;
}

.link-container {
    width: 100%;
    height: calc(80px * var(--pixel-size));
}

.image-container {
    width: calc(140px * var(--pixel-size));
    height: calc(79px * var(--pixel-size));
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url('../../../../assets/images/projects_frame.png');
    background-position: center;
    background-size: cover;
}

img {
    width: calc(130px * var(--pixel-size));
    height: calc(70px * var(--pixel-size));
}

.overlay {
    position: absolute;
    width: calc(132px * var(--pixel-size));
    height: calc(70px * var(--pixel-size));
    background-color: var(--box-background-hover);
    transition: 0.3s ease;
    pointer-events: none;
}

.image-container:hover .overlay {
    background-color: transparent;
}

span {
    padding-left: calc(8px * var(--pixel-size));
    font-size: calc(9px * var(--pixel-size));
}

p {
    font-family: 'minecraft';
    font-size: calc(8px * var(--pixel-size));
    width: calc(265px * var(--pixel-size));
    height: calc(95px * var(--pixel-size));
}

.button-container {
    width: 100%;
    position: absolute;
    bottom: 0%;
}

button {
    width: calc(16px * var(--pixel-size));
    height: calc(16px * var(--pixel-size));
    background-color: transparent;
    color: var(--color-turquoise);
    font-size: calc(16px * var(--pixel-size));
    cursor: none;
    border: none;
    box-shadow: none;
    transition: 0.1s;
}

button:hover {
    color: var(--color-white);
    transform: scale(1.2);
}

.right-button {
    background-image: url('../../../../assets/images/arrow_right.png');
    background-position: center;
    background-size: contain;
}

.left-button {
    background-image: url('../../../../assets/images/arrow_left.png');
    background-position: center;
    background-size: contain;
}