<article class="p-3" style="height: 100%;">
    <h3 class="text-shadow">
        Proyectos
    </h3>
    <hr>
    <div class="info-container mb-3">
        <input type="radio" name="slider" id="slideOne" [checked]="counter == 0" disabled>
        <input type="radio" name="slider" id="slideTwo" [checked]="counter == 1" disabled>

        <div class="checkers">
            <label for="slideOne"></label>
            <label for="slideTwo"></label>
        </div>

        <div class="content">
            <div class="slide-1">
                <div class="link-container d-flex justify-content-center">
                    <div class="image-container me-1">
                        <img src="../../../../assets/images/mercadolibre_1.png" alt="imagen de prueba">
                        <div class="overlay overlay-1"></div>
                    </div>
                    <div class="image-container ms-1">
                        <img src="../../../../assets/images/mercadolibre_2.png" alt="">
                        <div class="overlay overlay-2"></div>
                    </div>
                </div>
                <span class="ms-2 mt-4 mb-3 text-shadow">Mercadolibre</span> 
                <p class="mx-auto">
                    Así es! Yo programé Mercadolibre, acaso lo dudabas? <br>
                    Na, en realidad este es un proyecto de prueba para esta sección, si estás leyendo esto significa que todavía no publiqué la versión definitiva.
                </p>
            </div>

            <div class="slide-2">
                <div class="link-container d-flex justify-content-center">
                    <div class="image-container me-1">
                        <img src="../../../../assets/images/portfolio_1.png" alt="Portfolio 1">
                        <div class="overlay overlay-1"></div>
                    </div>
                    <div class="image-container ms-1">
                        <img src="../../../../assets/images/portfolio_2.png" alt="Portfolio 2">
                        <div class="overlay overlay-2"></div>
                    </div>
                </div>
                <span class="ms-2 mt-4 mb-3 text-shadow">Este Portfolio!</span> 
                <p class="mx-auto">
                    En este proyecto hay implementados tantos conceptos y tecnologías que no podría parar de escribir! Por mencionar algunos: <br>
                    - RxJS. <br>
                    - HTTP Requests <br>
                    - Angular Animations <br>
                    - Manejo de Estado
                </p>
            </div>
        </div>
        <div class="button-container d-flex justify-content-center">
            <button class="left-button me-2" (click)="previous()"></button>
            <button class="right-button ms-2" (click)="next()"></button>
        </div>
    </div>
</article>