<h3>Menu lateral</h3>
<nav>
    <div>
        <button routerLink="descripcion">Descripción</button>
    </div>
    <div>
        <button routerLink="stack">Stack</button>
    </div>
    <div>
        <button routerLink="educacion">Educación</button>
    </div>
    <div>
        <button routerLink="proyectos">Proyectos</button>
    </div>
    <div>
        <button routerLink="experiencia">Experiencia</button>
    </div>
    <div>
        <button routerLink="cv">CV</button>
    </div>
    <div>
        <button routerLink="redes">Redes</button>
    </div>
    <div>
        <button routerLink="contacto">Contacto</button>
    </div>
    <div>
        <button routerLink="gracias">Gracias</button>
    </div>
</nav>