.border {
    border: 2px solid white;
}
.menu-item-sm {
    height: 105px;
    width: 105px;
    background-image: url("../../../../../assets/images/menu_item_sm.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.card {
    background-color: transparent;
    border: none; 
    box-shadow: none;
}
.menu-container-sm {
    height: 100%;
    background-image: url("../../../../../assets/images/menu_sm.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}