<div class="container  p-1 border">
    <nav class="d-flex flex-column align-items-center border">
        <div class="align-self-start p-1 border">
            <button class="btn btn-info" routerLink="descripcion">Descripción</button>
        </div>
        <div class="align-self-start p-1 border">
            <button class="btn btn-info" routerLink="stack">Stack</button>
        </div>
        <div class="align-self-start p-1 border">
            <button class="btn btn-info" routerLink="educacion">Educación</button>
        </div>
        <div class="align-self-start p-1 border">
            <button class="btn btn-info" routerLink="proyectos">Proyectos</button>
        </div>
        <div class="align-self-start p-1 border">
            <button class="btn btn-info" routerLink="experiencia">Experiencia</button>
        </div>
        <div class="align-self-start p-1 border">
            <button class="btn btn-info" routerLink="cv">CV</button>
        </div>
        <div class="align-self-start p-1 border">
            <button class="btn btn-info" routerLink="redes">Redes</button>
        </div>
        <div class="align-self-start p-1 border">
            <button class="btn btn-info" routerLink="contacto">Contacto</button>
        </div>
        <div class="align-self-start p-1 border">
            <button class="btn btn-info" routerLink="gracias">Gracias</button>
        </div>        
    </nav>
</div>
    