<!--Contenedor principal-->
<div class="container p-1 border" style="height: 100%;">
    <!--Contenedor de ítems grupal-->
    <nav class="d-flex flex-column justify-content-evenly align-items-center border" style="height: 100%;">
        <!--Contenedor ítem 1-->
        <div class=" border">
            <div class="card" style="width: 3rem; height: 3rem; background-color: rgba(0, 0, 0, 0);">
                <div class="mx-auto my-auto" style="width: 2.5rem; height: 2.5rem;">
                    <a routerLink="descripcion">
                        <img src="./assets/images/menu/descripcion_100px.png" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
        <!--Contenedor ítem 2-->
        <div class=" border">
            <div class="card" style="width: 3rem; height: 3rem; background-color: rgba(0, 0, 0, 0);">
                <div class="mx-auto my-auto" style="width: 2.5rem; height: 2.5rem;">
                    <a routerLink="stack">
                        <img src="./assets/images/menu/stack_100px.png" alt="" class="card-img-top img-fluid">
                    </a>
                </div>
            </div>
        </div>
        <!--Contenedor ítem 3-->
        <div class=" border">
            <div class="card" style="width: 3rem; height: 3rem; background-color: rgba(0, 0, 0, 0);">
                <div class="mx-auto my-auto" style="width: 2.5rem; height: 2.5rem;">
                    <a routerLink="educacion">
                        <img src="./assets/images/menu/educacion_100px.png" alt="" class="card-img-top img-fluid">
                    </a>
                </div>
            </div>
        </div>
        <!--Contenedor ítem 4-->
        <div class=" border">
            <div class="card" style="width: 3rem; height: 3rem; background-color: rgba(0, 0, 0, 0);">
                <div class="mx-auto my-auto" style="width: 2.5rem; height: 2.5rem;">
                    <a routerLink="proyectos">
                        <img src="./assets/images/menu/proyectos_100px.png" alt="" class="card-img-top img-fluid">
                    </a>
                </div>
            </div>
        </div>
        <!--Contenedor ítem 5-->
        <div class=" border">
            <div class="card" style="width: 3rem; height: 3rem; background-color: rgba(0, 0, 0, 0);">
                <div class="mx-auto my-auto" style="width: 2.5rem; height: 2.5rem;">
                    <a routerLink="experiencia">
                        <img src="./assets/images/menu/experiencia_100px.png" alt="" class="card-img-top img-fluid">
                    </a>
                </div>
            </div>
        </div>
        <!--Contenedor ítem 6-->
        <div class=" border">
            <div class="card" style="width: 3rem; height: 3rem; background-color: rgba(0, 0, 0, 0);">
                <div class="mx-auto my-auto" style="width: 2.5rem; height: 2.5rem;">
                    <a routerLink="cv">
                        <img src="./assets/images/menu/cv_100px.png" alt="" class="card-img-top img-fluid">
                    </a>
                </div>
            </div>
        </div>
        <!--Contenedor ítem 7-->
        <div class=" border">
            <div class="card" style="width: 3rem; height: 3rem; background-color: rgba(0, 0, 0, 0);">
                <div class="mx-auto my-auto" style="width: 2.5rem; height: 2.5rem;">
                    <a routerLink="redes">
                        <img src="./assets/images/menu/redes_100px.png" alt="" class="card-img-top img-fluid">
                    </a>
                </div>
            </div>
        </div>
        <!--Contenedor ítem 8-->
        <div class=" border">
            <div class="card" style="width: 3rem; height: 3rem; background-color: rgba(0, 0, 0, 0);">
                <div class="mx-auto my-auto" style="width: 2.5rem; height: 2.5rem;">
                    <a routerLink="contacto">
                        <img src="./assets/images/menu/contacto_100px.png" alt="" class="card-img-top img-fluid">
                    </a>
                </div>
            </div>
        </div>
        <!--Contenedor ítem 9-->
        <div class=" border">
            <div class="card" style="width: 3rem; height: 3rem; background-color: rgba(0, 0, 0, 0);">
                <div class="mx-auto my-auto" style="width: 2.5rem; height: 2.5rem;">
                    <a routerLink="gracias">
                        <img src="./assets/images/menu/gracias_100px.png" alt="" class="card-img-top img-fluid">
                    </a>
                </div>
            </div>
        </div>
    </nav>
</div>